# ***drive-api.service***
[Unit]
Description=driveAppi
After=multi-user.target

[Service]
Type=simple
EXecStart=go generated binary
User=root
WorkingDirectory=your working directory
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
